[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/ZhiYao223/libmodbus.git
[submodule "lv_port_pc_vscode"]
	path = lv_port_pc_vscode
	url = https://github.com/ZhiYao223/lv_port_pc_vscode.git
