[submodule "lv_port_pc_vscode"]
	path = lv_port_pc_vscode
	url = https://github.com/ZhiYao223/lv_port_pc_vscode.git
[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/stephane/libmodbus.git
[submodule "eez_rk3566"]
	path = eez_rk3566
	url = https://github.com/chikab1/eez_rk3566.git
[submodule "samplemotor/eez_rk3566"]
	path = samplemotor/eez_rk3566
	url = https://github.com/chikab1/eez_rk3566.git
